.content-section {
  box-sizing: border-box;
  min-height: 100px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  min-height: 293px;
  padding: 0px 50px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 28px;
  list-style: circle;
}

.header__links-list-item {
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  padding-left: 0px;
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  font-size: 18px;
}

.header__address {
  justify-self: end;
  gap: 3px;
  padding-bottom: 5px;
}

.cover {
  min-height: 757px;
  background-color: gray;
}

.lots {
  margin: 180px 24px 0px;
  background-color: gray;
}

.about {
  margin: 120px 24px 0px;
  background-color: gray;
}

.footer {
  min-height: 180px;
  margin-top: 180px;
  background-color: gray;
}
