.content-section {
  min-height: 100px;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  min-height: 293px;
  padding: 0px 50px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 28px;
  list-style: circle;
}

.header__links-list-item {
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  padding-left: 0px;
  list-style: none;
}

.header__link {
  text-underline-offset: 4px;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  width: 136px;
}

.address {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24px;
  max-width: 260px;
}

.header__address {
  justify-self: end;
  gap: 3px;
  padding-bottom: 5px;
  max-width: 240px;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 50px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 115px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text_left {
  align-self: start;
}

.aligned-text_center {
  align-self: center;
  padding-left: 30px;
}

.aligned-text_right {
  align-self: end;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 104px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 0.84em;
}

.bet-button {
  box-sizing: border-box;
  width: 256px;
  height: 51px;
  border: #fff solid 1px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 180px 24px 0px;
}

.lots__heading {
  margin-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2em;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  font-size: 20px;
  line-height: 1.2em;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin: 120px 24px 0px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px auto 0;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  height: 114px;
}

.about__title {
  margin-top: 136px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-top: 100px;
  font-size: 20px;
  line-height: 24px;
}

.footer {
  min-height: 180px;
  margin-top: 180px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px;
}

.footer__menu-list {
  list-style: none;
  justify-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2px;
}

.footer__link {
  font-size: 18px;
  text-underline-offset: 4px;
}

.footer__link-active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-icon {
  width: 48px;
}
